footer {
    flex-shrink: 0;
    background-color: #3f51b5;
    color: white;
    font-size: 17px;
    width : 100%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 30px;
}
.footerClass{
    height: 100px;
    background-color: #3f51b5;
}